* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #181818;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

ul, li {
  list-style: none;
}

.btn__phone {
  padding: 0.8em 1.5em;
  border-radius: 50px;
  box-shadow: 0 0 0 3em #b61984 inset;
  cursor: pointer;
  transition: all .5s;
}

.btn__phone a {
  color: #fff;
}

.btn__phone:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}

.btn__phone:hover a {
  text-decoration: none;
  color: #b61984;
}

.btn__contact {
  display: block;
  max-width: 150px;
  margin: 1.5em 0;
  text-align: center;
  padding: 0.8em 1.5em;
  border-radius: 50px;
  box-shadow: 0 0 0 3em #b61984 inset;
  cursor: pointer;
  transition: all .5s;
}

.btn__contact span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.btn__contact:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}

.btn__contact:hover span {
  font-size: 14px;
  font-weight: 600;
  color: #b61984;
}

.btn__sub {
  text-align: center;
  padding: 1em 1.5em;
  border-radius: 50px;
  box-shadow: 0 0 0 3em #fff inset;
  cursor: pointer;
  transition: all .5s;
}

.btn__sub span {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

.btn__sub:hover {
  box-shadow: 0 0 0 1px #fff inset;
}

.btn__sub:hover span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.social__header i {
  color: #181818;
}

.social__header i:hover {
  text-decoration: none;
  color: #b61984;
}

.social__footer i {
  margin-top: 1.5em;
  padding-right: 0.5em;
  color: #fff;
}

.social__footer i:hover {
  text-decoration: none;
  color: #181818;
}

.menu__inner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8em 0;
}

.menu__inner a {
  color: #fff;
}

.menu__inner a:hover {
  text-decoration: none;
  color: #dcd1f3;
}

.menu__inner:first-child {
  padding-top: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header .navbar-nav {
  font-family: 'Montserrat', sans-serif;
}

header .logoTabula {
  width: 80px;
  position: relative;
}

header .navbar-nav {
  align-items: center;
}

header .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

header .nav-link::after {
  display: block;
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  bottom: -4px;
  margin-left: 16px;
  border-radius: 50px;
  background-color: #b61984;
  transform: scale(0);
  transition: all .5s;
}

header .nav-link:hover {
  color: #b61984;
}

header .nav-link:hover::after {
  transform: scale(1);
}

header .active .nav-link::after {
  transform: scale(1);
}

@media screen and (max-width: 992px) {
  header .navbar-toggler {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 1.55rem;
    color: #191919;
  }
  header .navbar-collapse {
    background-color: #fff;
  }
  header .btn__logo {
    margin-left: 1.5em;
  }
  header .nav-link::after {
    width: 0;
    height: 0;
  }
}

.carouselAbout {
  position: relative;
}

.carouselAbout .bgTop {
  position: absolute;
  top: 0;
  left: 0;
}

.carouselAbout .bgTop img {
  max-width: 100%;
  height: auto;
}

.carouselAbout .mainCarousel {
  padding: 5em 0;
}

.carouselAbout .mainCarousel h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}

.carouselAbout .mainCarousel h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #191919;
}

.carouselAbout .mainCarousel img {
  max-width: 100%;
  height: auto;
}

.carouselAbout .mainCarousel .left__carousel {
  animation-delay: .5s;
}

.carouselAbout .bgBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.carouselAbout .bgBottom img {
  max-width: 100%;
  height: auto;
}

.portfolioAbout {
  position: relative;
  background: #dcd1f3;
}

.portfolioAbout .mainPortfolio {
  position: relative;
  z-index: 3;
  padding-top: 2em;
}

.portfolioAbout .mainPortfolio .card__content {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  overflow: hidden;
}

.portfolioAbout .mainPortfolio .card__content .card__img {
  margin: 0 -1em;
  overflow: hidden;
}

.portfolioAbout .mainPortfolio .card__content .card__img img {
  max-width: 100%;
  height: auto;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}

.portfolioAbout .mainPortfolio .card__content .card__img img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.portfolioAbout .mainPortfolio .card__content .card__text {
  padding: 1.5em 0.5em;
}

.portfolioAbout .mainPortfolio .card__content .card__text h5 {
  font-size: 0.85rem;
  font-weight: 600;
  color: #b61984;
}

.portfolioAbout .mainPortfolio .card__content .card__text h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #181818;
  margin: 1em 0;
}

.portfolioAbout .mainPortfolio .card__content .card__text p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #181818;
  line-height: 1.8em;
}

.portfolioAbout .mainPortfolio .card__content:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.portfolioAbout .mainPortfolio .portfolio__inner:nth-child(1) .card__content, .portfolioAbout .mainPortfolio .portfolio__inner:nth-child(5) .card__content {
  animation-delay: 200ms;
}

.portfolioAbout .mainPortfolio .portfolio__inner:nth-child(2) .card__content, .portfolioAbout .mainPortfolio .portfolio__inner:nth-child(6) .card__content {
  animation-delay: 400ms;
}

.portfolioAbout .mainPortfolio .portfolio__inner:nth-child(3) .card__content, .portfolioAbout .mainPortfolio .portfolio__inner:nth-child(7) .card__content {
  animation-delay: 600ms;
}

.portfolioAbout .mainPortfolio .portfolio__inner:nth-child(4) .card__content, .portfolioAbout .mainPortfolio .portfolio__inner:nth-child(8) .card__content {
  animation-delay: 800ms;
}

.portfolioAbout .bgBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.portfolioAbout .bgBottom img {
  max-width: 100%;
  height: auto;
}

.contactAbout {
  position: relative;
  margin-top: 8em;
}

.contactAbout img {
  max-width: 100%;
  height: auto;
}

.contactAbout i {
  color: #b61984;
  position: absolute;
}

.contactAbout .main__contact {
  position: relative;
  z-index: 3;
}

.contactAbout .main__contact .form__contact {
  height: 100%;
  background-color: white;
  padding: 0 2em;
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.contactAbout .main__contact .form__contact h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #181818;
  margin-bottom: 1.5em;
}

.contactAbout .main__contact .form__contact .inp__contact,
.contactAbout .main__contact .form__contact .slt__contact {
  position: relative;
  display: block;
}

.contactAbout .main__contact .form__contact .inp__contact input,
.contactAbout .main__contact .form__contact .inp__contact select,
.contactAbout .main__contact .form__contact .slt__contact input,
.contactAbout .main__contact .form__contact .slt__contact select {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 0.8em 2em 0.8em 3em;
  transition: all 0.5s;
}

.contactAbout .main__contact .form__contact .inp__contact input:focus,
.contactAbout .main__contact .form__contact .inp__contact select:focus,
.contactAbout .main__contact .form__contact .slt__contact input:focus,
.contactAbout .main__contact .form__contact .slt__contact select:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.contactAbout .main__contact .form__contact .inp__contact input {
  max-width: 100%;
}

.contactAbout .main__contact .form__contact .inp__contact i {
  top: 14px;
  left: 20px;
}

.contactAbout .main__contact .form__contact .slt__contact {
  margin: 1.5em 0;
}

.contactAbout .main__contact .form__contact .slt__contact .fa-graduation-cap {
  top: 14px;
  left: 18px;
}

.contactAbout .main__contact .form__contact .slt__contact select {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contactAbout .main__contact .form__contact .slt__contact select option:hover {
  background: transparent;
  color: #b61984;
}

.contactAbout .main__contact .form__contact .slt__contact .custtom_select .fa-angle-down {
  top: 15px;
  right: 25px;
}

.contactAbout .main__contact .form__contact .txta_contact {
  position: relative;
  display: block;
}

.contactAbout .main__contact .form__contact .txta_contact i {
  top: 15px;
  left: 20px;
}

.contactAbout .main__contact .form__contact .txta_contact textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 0.8em 2em 0.8em 3em;
  transition: all 0.5s;
}

.contactAbout .main__contact .form__contact .txta_contact textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.contactAbout .main__contact .form__about {
  animation-delay: 400ms;
}

.contactAbout .bgBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .btn__contact {
    max-width: 100%;
  }
}

footer .bg__footer {
  position: relative;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5em 0 12.6em;
  color: #fff;
}

footer .bg__footer .main__footer h5 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5em;
}

footer .bg__footer .main__footer .location__footer,
footer .bg__footer .main__footer .phone__footer,
footer .bg__footer .main__footer .time__footer {
  margin-bottom: 0.5em;
}

footer .bg__footer .main__footer .location__footer i,
footer .bg__footer .main__footer .phone__footer i,
footer .bg__footer .main__footer .time__footer i {
  padding-right: 0.8em;
}

footer .bg__footer .main__footer .newsletter .inp__footer {
  display: block;
  padding: 2em 0 0.8em;
}

footer .bg__footer .main__footer .newsletter .inp__footer input {
  display: block;
  background: transparent;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 1em;
  transition: all 0.5s;
}

footer .bg__footer .main__footer .newsletter .inp__footer input::placeholder {
  color: #fff;
}

footer .bg__footer .main__footer .newsletter .inp__footer input:focus {
  outline: none;
  border: 1px solid #fff;
}

footer .bg__footer .main__footer .footer__inner:nth-child(1) {
  animation-delay: 200ms;
}

footer .bg__footer .main__footer .footer__inner:nth-child(2) {
  animation-delay: 400ms;
}

footer .bg__footer .main__footer .footer__inner:nth-child(3) {
  animation-delay: 600ms;
}

footer .bg__footer .main__footer .footer__inner:nth-child(4) {
  animation-delay: 800ms;
}
/*# sourceMappingURL=main.css.map */