* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #181818;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.btnPhone {
  padding: 0.8em 1.5em;
  border-radius: 50px;
  box-shadow: 0 0 0 3em #b61984 inset;
  cursor: pointer;
  transition: all .5s;
}

.btnPhone a {
  color: #fff;
}

.btnPhone:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}

.btnPhone:hover a {
  text-decoration: none;
  color: #b61984;
}

.socialHeader i {
  color: #181818;
}

.socialHeader i:hover {
  text-decoration: none;
  color: #b61984;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header .navbar-nav {
  font-family: 'Montserrat', sans-serif;
}

header .logoTabula {
  width: 80px;
  position: relative;
}

header .navbar-nav {
  align-items: center;
}

header .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

header .nav-link::after {
  display: block;
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  bottom: -4px;
  margin-left: 16px;
  border-radius: 50px;
  background-color: #b61984;
  transform: scale(0);
  transition: all .5s;
}

header .nav-link:hover {
  color: #b61984;
}

header .nav-link:hover::after {
  transform: scale(1);
}

header .active .nav-link::after {
  transform: scale(1);
}

.carouselAbout {
  position: relative;
}

.carouselAbout .bgTop {
  position: absolute;
  top: 0;
  left: 0;
}

.carouselAbout .bgTop img {
  width: 100%;
  height: auto;
}

.carouselAbout .mainCarousel {
  padding: 5em 0;
}

.carouselAbout .mainCarousel h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}

.carouselAbout .mainCarousel h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #191919;
}

.carouselAbout .mainCarousel img {
  width: 100%;
  height: auto;
}

.carouselAbout .bgBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.carouselAbout .bgBottom img {
  width: 100%;
  height: auto;
}

.portfolioAbout {
  position: relative;
  background: #dcd1f3;
}

.portfolioAbout .mainPortfolio {
  position: relative;
  z-index: 3;
  padding-top: 2em;
}

.portfolioAbout .mainPortfolio .card__content {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.portfolioAbout .mainPortfolio .card__content img {
  width: 100%;
  height: auto;
}

.portfolioAbout .mainPortfolio .card__content .card__text {
  padding: 1.5em 0.5em;
}

.portfolioAbout .mainPortfolio .card__content .card__text h5 {
  font-size: 0.85rem;
  font-weight: 600;
  color: #b61984;
}

.portfolioAbout .mainPortfolio .card__content .card__text h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #181818;
  margin: 1em 0;
}

.portfolioAbout .mainPortfolio .card__content .card__text p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #181818;
  line-height: 1.8em;
}

.portfolioAbout .bgBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.portfolioAbout .bgBottom img {
  width: 100%;
  height: auto;
}

.contactAbout {
  margin-top: 8em;
}

.contactAbout img {
  width: 100%;
  height: auto;
}

.contactAbout .form__contact {
  height: 100%;
  background-color: white;
  padding: 0 2em;
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.contactAbout .form__contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #181818;
}

.contactAbout .form__contact input, .contactAbout .form__contact select {
  border-radius: 50px;
  width: 100%;
}

.contactAbout .form__contact input {
  height: 50px;
}

.contactAbout .form__contact select {
  height: 40px;
}

.contactAbout .form__contact textarea {
  border-radius: 25px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */