@mixin styleText($fs, $fw, $color){
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}
@mixin styleButton($py, $px, $color) {
    padding: $py $px;
    border-radius: $bd-1;
    box-shadow: 0 0 0 3em $color inset;
    cursor: pointer;
}
@mixin styleButtonHover($color) {
    box-shadow: 0 0 0 1px $color inset;
}
@mixin styleLink($color) {
    color: $color;
}
@mixin styleLinkHover($color) {
    text-decoration: none;
    color: $color;
}
@mixin styleImg($w,$h) {
    max-width: $w;
    height: $h;
}
@mixin responsive($screen) {
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value){
            @content;
        }
    }   
    @else{
        @error "screen doesn't exits"
    }
}