// color
$color-violet: #b61984;
$color-violet2: #aa017e;
$color-dark-1: #191919;
$color-dark-2: #181818;
$color-white: #fff;
$color-bg: #00000000;
$color-gray: #dcd1f3;
$color-gray2: #f6f6f6;

// font size:
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 3.8rem;
$fs-4: .85rem;
$fs-5: 1.55rem;
$fs-6: 2.5rem;
$fs-7: .9em;

// font weight:
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;

//Padding
$pd-1: .8em;
$pd-2: 1.5em;
$pd-3: .5em;
$pd-4: 5em;
$pd-5: 2em;
$pd-6: 1em;
$pd-7: 2.5em;
$pd-8: 3em;
$pd-9: 8em;
$pd-10: 12.6em;

//Margin
$mg-1: 4em;
$mg-2: 1.5em;
$mg-3: 1em;
$mg-4: 8em;
$mg-5: .5em;
$mg-6: -1em;

// line-height
$lh-1: 1.8em;
$lh-2: 1em;

// width, height
$w-1: 100%;
$w-2: 50%;
$w-3: 25%;
$h-1: 100%;
$h-2: 50%;

//border
$bd-1: 50px;
$bd-2: 10px;
$bd-3: 25px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);